body {
  font-family: 'Inter', sans-serif;
}
.modal {
    position: fixed;
    width: 540px;
    height: 384px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
  }

  .add-topic {
    width: 492px;
    height: 24px;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
  }
  
  .add-topic-text {
    font-weight: 600; 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
  
  }
  .cut-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    
  }
  
  .add-line {
    width: 540;
    border-width: 1px;
    border-color: #E0E0E0;
    border-style: groove;
  }
  
  .form-box {
    margin-top: 32px;
    margin-left: 24px;
    width: 492px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
  }
  
  .label-box {
    width: 492px;
    height: 56px;
    display: flex;
    flex-direction: column;
  }
  
  .label-text {
    font-weight: 600; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #00318C;
    margin-bottom: 2px;
  }
  
  .input-text {
    font-weight: 400; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    width: 492px;
    height: 32px;
    border-style: groove;
    border-color: #E0E0E0;
    border-width: 1px;
    border-radius: 4px;
  }

  .button-boxs {
    width: 155px;
    height: 40px;
    margin-left: 361px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .transparent-cancel-button {
    background: none;
    border: none;
    width: 79px;
    height: 40px;
    color: #0052EA;
    text-decoration: none; 
    cursor: pointer;
    padding-left: 16px;
    font-size: 14px; 
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }
  
  .add-button {
    background: #0052EA;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    color: #FFFFFF; 
    text-decoration: none; 
    cursor: pointer;
    padding-left: 16px;
    font-size: 14px; 
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }

  .update-button {
    background: #0052EA;
    border: none;
    width: 60px;
    height: 40px;
    border-radius: 4px;
    color: #FFFFFF; 
    text-decoration: none; 
    cursor: pointer;
    padding-left: 5px;
    font-size: 14px; 
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }

  @media screen and (max-width:600px){
    .modal {
      position: fixed;
      width: 100%;
      max-width: 280px;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
    }
    .form-box {
      margin-top: 32px;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      max-width: 42px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .input-text{
      max-width: 235px;
    }
    .add-line {
      width: 100%;
      max-width: 278px;
      border-width: 1px;
      border-color: #E0E0E0;
      border-style: groove;
    }
    
    .label-text {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #00318C;
      margin-bottom: 2px;
    }
    
    .button-boxs {
      width: 100%;
      max-width: 200px;
      height: 40px;
      margin-left: 0px;
      margin-right: unset;
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .transparent-cancel-button,
    .add-button {
      flex: 1; 
      max-width: 100px;
      margin-left: -320px;
      height: 40px;
      border-radius: 4px;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
    }
  }